<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscando por el nombre"
          [(ngModel)]="nombre"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="searchNombre()"
          >
            Buscar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Tipos de Contactos List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let tipoc of TipoC; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTipoC(tipoc, i)"
        >
          {{ tipoc.nombre }}
        </li>
      </ul>
  
      
    </div>
    <div class="col-md-6">
      <app-tipo-c-details
        [viewMode]="true"
        [currentTipoC]="currentTipoC"
      ></app-tipo-c-details>
    </div>
  </div>

